<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>shaizi_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,87},{79,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,0},{79,86}}</string>
				<key>sourceSize</key>
				<string>{92,88}</string>
			</dict>

			<key>shaizi_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,174},{79,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,0},{79,85}}</string>
				<key>sourceSize</key>
				<string>{92,88}</string>
			</dict>

			<key>shaizi_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,163},{88,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,3},{88,80}}</string>
				<key>sourceSize</key>
				<string>{92,88}</string>
			</dict>

			<key>shaizi_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,0},{84,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,3},{84,79}}</string>
				<key>sourceSize</key>
				<string>{92,88}</string>
			</dict>

			<key>shaizi_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,174},{80,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,0},{80,86}}</string>
				<key>sourceSize</key>
				<string>{92,88}</string>
			</dict>

			<key>shaizi_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,0},{78,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,0},{78,85}}</string>
				<key>sourceSize</key>
				<string>{92,88}</string>
			</dict>

			<key>shaizi_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{88,407},{86,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,3},{86,82}}</string>
				<key>sourceSize</key>
				<string>{92,88}</string>
			</dict>

			<key>shaizi_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{88,327},{86,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{86,79}}</string>
				<key>sourceSize</key>
				<string>{92,88}</string>
			</dict>

			<key>shaizi_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,87},{80,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,0},{80,86}}</string>
				<key>sourceSize</key>
				<string>{92,88}</string>
			</dict>

			<key>shaizi_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,323},{81,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{81,85}}</string>
				<key>sourceSize</key>
				<string>{92,88}</string>
			</dict>

			<key>shaizi_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,82},{89,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,3},{89,80}}</string>
				<key>sourceSize</key>
				<string>{92,88}</string>
			</dict>

			<key>shaizi_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{337,0},{78,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,0},{78,84}}</string>
				<key>sourceSize</key>
				<string>{92,88}</string>
			</dict>

			<key>shaizi_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{89,163},{86,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{86,79}}</string>
				<key>sourceSize</key>
				<string>{92,88}</string>
			</dict>

			<key>shaizi_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,260},{79,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,0},{79,86}}</string>
				<key>sourceSize</key>
				<string>{92,88}</string>
			</dict>

			<key>shaizi_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,0},{82,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,0},{82,86}}</string>
				<key>sourceSize</key>
				<string>{92,88}</string>
			</dict>

			<key>shaizi_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,407},{87,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,3},{87,80}}</string>
				<key>sourceSize</key>
				<string>{92,88}</string>
			</dict>

			<key>shaizi_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{89,243},{86,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{86,79}}</string>
				<key>sourceSize</key>
				<string>{92,88}</string>
			</dict>

			<key>shaizi_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,244},{88,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,3},{88,82}}</string>
				<key>sourceSize</key>
				<string>{92,88}</string>
			</dict>

			<key>shaizi_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,80},{84,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,3},{84,79}}</string>
				<key>sourceSize</key>
				<string>{92,88}</string>
			</dict>

			<key>shaizi_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{337,85},{77,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,0},{77,85}}</string>
				<key>sourceSize</key>
				<string>{92,88}</string>
			</dict>

			<key>shaizi_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,347},{79,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,0},{79,86}}</string>
				<key>sourceSize</key>
				<string>{92,88}</string>
			</dict>

			<key>shaizi_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{89,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,3},{89,81}}</string>
				<key>sourceSize</key>
				<string>{92,88}</string>
			</dict>

			<key>shaizi_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,327},{87,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{87,79}}</string>
				<key>sourceSize</key>
				<string>{92,88}</string>
			</dict>

			<key>shaizi_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,409},{81,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,0},{81,86}}</string>
				<key>sourceSize</key>
				<string>{92,88}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,512}</string>
			<key>textureFileName</key>
			<string>shaizi.png</string>
			</dict>
		</dict>
</plist>